@model MvcMovie.Models.DTO.MovieListModel

@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form>
        <input type="text" placeholder="search here">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>
<section class="movies">
    @foreach (var movie in Model.MovieList)
    {
        <div class="movie-card" onclick="window.location.href='/Home/MovieDetails?movieId=@movie.Id'">
            <div class="movie-image">
                <img src="/Uploads/@movie.MovieImage">
            </div>
            <div class="movie-info">
                <h4>@movie.Title</h4>
                <h4>@movie.GenreNames</h4>
                <h4>@movie.ReleaseYear</h4>
                @* <h4>Cast : @movie.Cast</h4>
                <h4>Director : @movie.Director</h4> *@
            </div>
        </div>
    }
</section>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>